@model Project_Databas.Models.ProfilDetaljer

@{
    ViewData["Title"] = "Inloggning";
}

<h3>Inloggning</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Inloggning">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pr_Mail" class="control-label"></label>
                <input asp-for="Pr_Mail" class="form-control" />
                <span asp-validation-for="Pr_Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pr_Losenord" class="control-label"></label>
                <input asp-for="Pr_Losenord" type="password" class="form-control" />
                <span asp-validation-for="Pr_Losenord" class="text-danger"></span>
            </div>
            </br>
            <p style="color:tomato;">@ViewBag.error</p>
            <div class="form-group">
                <input type="submit" value="Logga in" class="btn btn-dark" />
                <a asp-action="Glomt" class="btn btn-dark">Glömt lösenord?</a>
            </div>
            </br>
            <p>Har du inget konto? <a href="/Profil/SkapaKonto">Skapa ett konto</a></p>
        </form>
    </div>
</div>