@model Project_Databas.Models.ProfilDetaljer
@{
    ViewData["Title"] = "Shop";
}

<link rel="stylesheet" href="~/css/shop.css" asp-append-version="true" />

<h3>Shop</h3>

<div class="container">
    <div class="item1">
        <img src="~/img/filt.jpeg" alt="filt.jpeg" width="200">
    </div>
    <div class="item2">
        <img src="~/img/förvaring.webp" alt="förvaring.webp" width="200">
    </div>
    <div class="item3">
        <img src="~/img/gryta.webp" alt="gryta.webp" width="200">
    </div>
    <div class="item4">
        <img src="~/img/kopp.webp" alt="kopp.webp" width="200">
    </div>
    <div class="item1_text">
        <p>Hej</p>
    </div>
    <div class="item2_text"></div>
    <div class="item3_text"></div>
    <div class="item4_text"></div>
    <div class="item5">
        <img src="~/img/ljus.webp" alt="ljus.webp" width="200">
    </div>
    <div class="item6">
        <img src="~/img/mortel.webp" alt="mortel.webp" width="200">
    </div>
    <div class="item7"></div>
    <div class="item8"></div>
    <div class="item5_text"></div>
    <div class="item6_text"></div>
    <div class="item7_text"></div>
    <div class="item8_text"></div>
</div>