@model Project_Databas.Models.ProfilDetaljer

<h3>Ladda upp en profilbild</h3>

<p>Profilbild kopplat till: @Html.DisplayFor(model => model.Pr_Mail)</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Uppladdning?Pr_Mail=Pr_Mail" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" id="formFile" name="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <br />
            <div class="mb-3">
                <input type="submit" value="Ladda upp" class="btn btn-dark" />
            </div>

        </form>
    </div>
</div>

